# Data Science 101 B1

## Day 4 Assignment

### Necessary Imports

In [1]:
import numpy as np
import seaborn as sns

### Questions 1:

**How to import pandas and check the version?**

In [2]:
import pandas as pd                      # pandas library imported
from pandas import __version__           # to check version

print("Pandas Version :",__version__)

Pandas Version : 1.0.1

### Questions 2:

**How to create a series from a numpy array?**

**There is simple method to create pandas series using Series() but which can be done with index or without index.**

**Examples Given below**

In [3]:
#Without Index

arr1 = np.array(['a','b','c','d','x','y','z','w'])

s1 = pd.Series(arr1)
print(s1)

0    a
1    b
2    c
3    d
4    x
5    y
6    z
7    w
dtype: object

In [4]:
# With Index

arr2 = np.array(['a','b','c','d','x','y','z','w'])

s2 = pd.Series(arr2,index = [8001,8002,8003,8004,9001,9002,9003,9004])
print(s2)

8001    a
8002    b
8003    c
8004    d
9001    x
9002    y
9003    z
9004    w
dtype: object

### Questions 3:

**How to convert the index of a series into a column of a dataframe?**

**Answer : By default, each row of the dataframe has an index value. The rows in the dataframe are assigned index values from 0 to the (number of rows â€“ 1) in a sequentially order with each row having one index value. There are many methods to convert an index to a column in a pandas dataframe.**

**Method 1 - using reset_index()**

In [5]:
s = pd.Series(data = ['xyz','abc','pqr','ijk'],index = [1,2,3,4])

df = pd.DataFrame(data = s,columns = ['Name'])
df.reset_index(level = 0,inplace = True)
print(df)

   index Name
0      1  xyz
1      2  abc
2      3  pqr
3      4  ijk

**Method 2 - Creating index column separately in dataframe and assigning index values using index function**

In [6]:
s_ = pd.Series(data = ['xyz','abc','pqr','ijk'],index = [1,2,3,4])

df_ = pd.DataFrame(data = s_,columns = ['Name'])
df_['Index'] = df_.index
print(df_)

  Name  Index
1  xyz      1
2  abc      2
3  pqr      3
4  ijk      4

### Questions 4:

**Write the code to list all the datasets available in seaborn library.**

**Load the 'mpg' dataset**

**Note: mpg dataset will be read from seaborn module in the manner sir has already shown(provided in the
materials folder)**

In [7]:
# List of all datasets available in seaborn library

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [8]:
# Loadinng mpg dataset

mpg = sns.load_dataset('mpg')

mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

### Questions 5:

**Which country origin cars are a part of this dataset?**

In [9]:
print('Country Origin of Cars with their counts')
mpg['origin'].value_counts()

Country Origin of Cars with their counts

usa       249
japan      79
europe     70
Name: origin, dtype: int64

### Questions 6:

**Extract the part of the dataframe which contains cars belonging to 'usa'**

In [10]:
part_data = pd.DataFrame(data = mpg[mpg['origin']=='usa']['name'])
part_data.rename(columns = {'name':'Cars belongs to USA'},inplace = True)
part_data

           Cars belongs to USA
0    chevrolet chevelle malibu
1            buick skylark 320
2           plymouth satellite
3                amc rebel sst
4                  ford torino
..                         ...
392           chevrolet camaro
393            ford mustang gl
395              dodge rampage
396                ford ranger
397                 chevy s-10

[249 rows x 1 columns]